@page "/"

@using System.Net.Http.Json
@using Radzen.Blazor
@using Shopping.Shared.Models.Results
@using System.Globalization
@using System.Linq


@inject HttpClient HttpClient
@inject NavigationManager NavigationManager

@if (_statistic == null)
{
    <p>Loading ...</p>
}
else
{
    <ul class="nav nav-pills">
        @for (var i = 1; i <= 12; i++)
        {
            <li class="nav-item">
                @if (month is null && DateTime.Now.Month == i)
                {
                    <a class="nav-link active" aria-current="page" href="/">@i</a>
                }
                else if (month == i)
                {
                    <a class="nav-link active" aria-current="page" href="?month=@i">@i</a>
                }
                else
                {
                    <a class="nav-link" href="?month=@i">@i</a>
                }
            </li>
        }
    </ul>
    <div class="row">
        <div class="col-sm-12">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 my-5">
            <RadzenChart Style="height:600px">
                @foreach (var item in _statistic)
                {
                    <RadzenColumnSeries Fill="@item.Value.collor" Data="@item.Value.items" CategoryProperty="Month" Title="@item.Key" LineType="LineType.Dashed" ValueProperty="Expense">
                    </RadzenColumnSeries>
                }

                <RadzenValueAxis Formatter="@FormatAsUan">
                    <RadzenGridLines Visible="true" />
                    <RadzenAxisTitle Text="Revenue in UAN" />
                </RadzenValueAxis>
                <RadzenBarOptions Radius="5" />
            </RadzenChart>
        </div>
    </div>
}

@code {
    [Parameter]
    [SupplyParameterFromQuery]
    public int? month { get; set; }

    public class DataItem
    {
        public string Month { get; set; }
        public decimal Expense { get; set; }
    }

    private int statisticMonth;
    private Dictionary<string, (DataItem[]items,string collor)>? _statistic;
    private IEnumerable<string> _collors;
    private decimal _total;

    protected override async Task OnParametersSetAsync()
    {
        if (month.HasValue && month != statisticMonth)
        {
            statisticMonth = month.Value;
        }
        else if (statisticMonth == 0)
        {
            statisticMonth = DateTime.Now.Month;
        }
        else
        {
            return;
        }
        await LoadAsync().ConfigureAwait(false);
        await base.OnParametersSetAsync();
    }

    string FormatAsUan(object value)
    {
        return ((double)value).ToString("C0", CultureInfo.CreateSpecificCulture("ua-UA"));
    }

    static string getMonthName(int month)
    {
        DateTime date = new DateTime(2020, month, 1);

        return date.ToString("MMMM");
    }

    private async Task LoadAsync()
    {
        _statistic = null;
        var statistic = await HttpClient.GetFromJsonAsync<PurchaseStatistic>($"/api/purchases/statistic?month={statisticMonth}");
        if (statistic != null)
        {
            var collors = GetCollors(statistic.Statistics.Count);
            var collorsIndex = 0;
            _statistic = statistic.Statistics
            .ToDictionary(e => e.Key, e => (items:new[] { new DataItem { Month = getMonthName(statisticMonth), Expense = e.Value } },collor:collors[collorsIndex++]));

            _collors = GetCollors(_statistic.Count);
            _total = statistic.Total;
        }
    }

    private string[] GetCollors(int count)
    {
        return Enumerable.Range(1, count).Select(i =>
        {
            var random = new Random(i);
            return $"rgb({random.Next(128) + 127},{random.Next(128) + 127},{random.Next(128) + 127})";
        }).ToArray();
    }
}