@page "/products"

@using System.Net.Http.Json
@using Radzen
@using Radzen.Blazor
@using Shopping.Shared.Models.Results
@using Shopping.Shared.Requests


@inject HttpClient HttpClient

<div class="row">
    @if (_pending)
    {
        <p>Loading ...</p>
    }
    else
    {
            <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">
                        <span> Kind</span>
                        <RadzenDropDown @bind-Value=@_filterProductKindId TValue="Guid" Class="w-100" Data=@_productKindsForFilter TextProperty="Name" ValueProperty="Id" 
                        Change="(async ()=> await Reload())" />
                    </th>
                    <th class="action-block-col" scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><RadzenTextBox @bind-Value=@_newItem.Name Class="w-100" /></td>
                            <td>
                                <RadzenDropDown @bind-Value=@_newItem.ProductKindId TValue="Guid" Class="w-100"Data=@_productKinds TextProperty="Name" ValueProperty="Id"/>
                            </td>
                    <td>
                        @if (_editedItem == null)
                        {
                            <div class="action-block">
                                <button class="btn btn-primary" type="button" @onclick="@(async () => await Add())">Add</button>
                            </div>
                        }
                    </td>
                </tr>
                @foreach (var item in _list)
                {
                    <tr>
                        @if (_editedItem?.Id == item.Id)
                        {
                            <td><RadzenTextBox @bind-Value=@_editedItem.Name Class="w-100" /></td>
                            <td>
                                <RadzenDropDown @bind-Value=@_editedItem.ProductKindId TValue="Guid" Class="w-100"Data=@_productKinds TextProperty="Name" ValueProperty="Id"/>
                            </td>
                        }
                        else
                        {
                            <td>@item.Name</td>
                            <td>@item.ProductKindName</td>
                        }
                        
                        @if (_editedItem != null)
                        {
                            @if (_editedItem.Id == item.Id)
                            {
                                <td>
                                    <div class="action-block">
                                        <button class="btn btn-primary" type="button" @onclick="@(async () => await Save())">Save</button>
                                        <button class="btn btn-primary ms-2" type="button" @onclick="@(async () => Cancel())">Cancel</button>
                                    </div>
                                </td>
                            }
                            else
                            {
                                <td></td>
                            }
                        }
                        else
                        {
                            <td>
                                <div class="action-block">
                                    <button class="btn btn-primary" type="button" @onclick="@(async () => StartEdit(item))">Edit</button>
                                    @if (!item.Used)
                                    {
                                        <button class="btn btn-primary" type="button" @onclick="@(async () =>await Delete(item))">Delete</button>
                                    }
                                </div>
                            </td>
                        }    
                    </tr>
                }
            </tbody>
            </table>
    }
</div>

@code{
    private bool _pending = true;
    private ProductModel[]? _list;


    private ProductKindModel[]? _productKinds;

    private Guid _allProductKindsId = Guid.Empty;
    private Guid _filterProductKindId = Guid.Empty;
    private ProductKindModel[]? _productKindsForFilter;

    private ProductModel _newItem = new ProductModel();
    private ProductModel _editedItem = null;

    protected async override Task OnInitializedAsync()
    {
        _productKinds = await HttpClient.GetFromJsonAsync<ProductKindModel[]>("/api/products/kinds");

        var filterCollection = new List<ProductKindModel>();
        filterCollection.Add(new ProductKindModel { Id = _allProductKindsId, Name = "All" });
        filterCollection.AddRange(_productKinds);
        _productKindsForFilter = filterCollection.ToArray();
        await Reload();
    }

    private async Task Reload()
    {
        _pending = true;
        var query = _filterProductKindId == Guid.Empty ? string.Empty : $"?productKindId={_filterProductKindId}";
        _list = await HttpClient.GetFromJsonAsync<ProductModel[]>($"/api/products{query}");
        _pending = false;
        if (_list == null)
        {
            return;
        }
    }

    private async Task Add()
    {
        var request = new AddProduct
        {
            Id = Guid.NewGuid(),
            Name = _newItem.Name,
            ProductKindId = _newItem.ProductKindId,
        };

        await HttpClient.PostAsJsonAsync("/api/products", request);

        _newItem = new ProductModel();

        await Reload().ConfigureAwait(false);
    }

    private void StartEdit(ProductModel product)
    {
        _editedItem = product;
    }

    private void Cancel()
    {
        _editedItem = null;
    }

    private async Task Save()
    {
        var request = new UpdateProduct { Name = _editedItem.Name, ProductKindId = _editedItem.ProductKindId, };
        await HttpClient.PutAsJsonAsync($"/api/products/{_editedItem.Id}", request);
        _editedItem = null;
        await Reload().ConfigureAwait(false);
    }

    private async Task Delete(ProductModel product)
    {
        await HttpClient.DeleteAsync($"/api/products/{product.Id}");
        await Reload().ConfigureAwait(false);
    }
}