@page "/products"

<div class="row">
    @if (_pending)
    {
        <p>Loading ...</p>
    }
    else
    {
        <div class="filter">
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">@Localizer["Name"]</th>
                    <th scope="col">
                        <span>@Localizer["Kind"]</span>
                        <RadzenDropDown @bind-Value=@_filterProductKindId TValue="Guid" Class="w-100" Data=@_productKindsForFilter TextProperty="Name" ValueProperty="Id"
                                    Change="(async ()=> await Reload())" />
                    </th>
                    <th class="action-block-col" scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><RadzenTextBox @bind-Value=@_newItem.Name Class="w-100" /></td>
                    <td>
                        <RadzenDropDown @bind-Value=@_newItem.ProductKindId TValue="Guid" Class="w-100" Data=@_productKinds TextProperty="Name" ValueProperty="Id" />
                    </td>
                    <td>
                        @if (_editedItem == null)
                        {
                            <div class="action-block">
                                <button class="btn btn-primary" type="button" @onclick="@(async () => await Add())">@Localizer["Add"]</button>
                            </div>
                        }
                    </td>
                </tr>
                @foreach (var item in _list)
                {
                    <tr>
                        @if (_editedItem?.Id == item.Id)
                        {
                            <td><RadzenTextBox @bind-Value=@_editedItem.Name Class="w-100" /></td>
                            <td>
                                <RadzenDropDown @bind-Value=@_editedItem.ProductKindId TValue="Guid" 
                                Class="w-100" Data=@_productKinds TextProperty="Name" ValueProperty="Id" />
                            </td>
                        }
                        else
                        {
                            <td>@item.Name</td>
                            <td>@item.ProductKindName</td>
                        }

                        @if (_editedItem != null)
                        {
                            @if (_editedItem.Id == item.Id)
                            {
                                <td>
                                    <div class="action-block">
                                        <button class="btn btn-primary" type="button" @onclick="@(async () => await Save())">@Localizer["Save"]</button>
                                        <button class="btn btn-primary ms-2" type="button" @onclick="@(async () => Cancel())">@Localizer["Cancel"]</button>
                                    </div>
                                </td>
                            }
                            else
                            {
                                <td></td>
                            }
                        }
                        else
                        {
                            <td>
                                <div class="action-block">
                                    <button class="btn btn-primary" type="button" @onclick="@(async () => StartEdit(item))">@Localizer["Edit"]</button>
                                    <button class="btn btn-primary" type="button" @onclick="@(async () => await StartMergeProduct(item))">@Localizer["Merge"]</button>
                                    @if (!item.Used)
                                    {
                                        <button class="btn btn-primary" type="button" @onclick="@(async () =>await Delete(item))">@Localizer["Delete"]</button>
                                    }
                                </div>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    }
</div>