@page "/receipts/{ReceiptId}"

<div class="row">
    @if (_list == null)
    {
        <p>Loading ...</p>
    }
    else
    {
        <table class="table ">
            <thead>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Price</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Cost</th>
                    <th scope="col">
                        <div class="action-block">
                            <button class="btn btn-primary" type="button" @onclick="@(async () => await OpenProductSelector())">Select products</button>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div style="display:flex; flex-direction:column">
                            <RadzenAutoComplete Data=@_products FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                            TextProperty="Name"
                                            @bind-Value=@_newItem.ProductName
                                            Style="width: 100%;"
                                            Change="@ProductNameChanged" />
                            <span hidden="@(!_newItem.IsProductRequired)"
                                  style="font-size:small; color:red">
                                Product is required
                            </span>
                        </div>
                    </td>
                    <td>
                        <div style="display:flex; flex-direction:column">
                            <RadzenNumeric ShowUpDown="false" TValue="decimal" @bind-Value=@_newItem.Price Class="w-100" />
                            <span hidden="@(!_newItem.IsPriceInvalid)"
                                  style="font-size:small; color:red">
                                Price is invalid.
                            </span>
                        </div>
                    </td>
                    <td>
                        <div style="display:flex; flex-direction:column">
                            <RadzenNumeric ShowUpDown="false" TValue="decimal" @bind-Value=@_newItem.Amount Class="w-100" />
                            <span hidden="@(!_newItem.IsAmountInvalid)"
                                  style="font-size:small; color:red">
                                Amount is invalid.
                            </span>
                        </div>
                    </td>
                    <td>@_newItem.Cost</td>
                    <td><div class="action-block"><button class="btn btn-primary" type="button" @onclick="@(async () => await Add())">Add</button></div></td>
                </tr>
                @foreach (var item in _list)
                {
                    @if (item.IsEditing)
                    {
                        <tr>
                            <td>@item.ReceiptItem.ProductName</td>
                            <td>
                                <div style="display:flex; flex-direction:column">
                                    <RadzenNumeric ShowUpDown="false" TValue="decimal" @bind-Value=@item.EditReceiptItem.Price Class="w-100" />
                                    <span hidden="@(!item.EditReceiptItem.IsPriceInvalid)"
                                          style="font-size:small; color:red">
                                        Price is invalid.
                                    </span>
                                </div>
                            </td>
                            <td>
                                <div style="display:flex; flex-direction:column">
                                    <RadzenNumeric ShowUpDown="false" TValue="decimal" @bind-Value=@item.EditReceiptItem.Amount Class="w-100" />
                                    <span hidden="@(!item.EditReceiptItem.IsAmountInvalid)"
                                          style="font-size:small; color:red">
                                        Amount is invalid.
                                    </span>
                                </div>
                            </td>
                            <td>@item.EditReceiptItem.Cost</td>
                            <td>
                                <div class="action-block">
                                    @if (item.IsNew)
                                    {
                                        <button class="btn btn-primary" type="button" @onclick="@(async () => await Add(item))">Add</button>
                                        <button class="btn btn-primary ms-2" type="button" @onclick="@(async () => await Delete(item))">Delete</button>
                                    }
                                    else
                                    {
                                        <button class="btn btn-primary" type="button" @onclick="@(async () => await Save(item))">Save</button>
                                        <button class="btn btn-primary ms-2" type="button" @onclick="@(async () => item.Cancel())">Cancel</button>
                                    }
                                </div>
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td>@item.ReceiptItem.ProductName</td>
                            <td>@item.ReceiptItem.Price</td>
                            <td>@item.ReceiptItem.Amount</td>
                            <td>@item.ReceiptItem.Cost</td>
                            <td>
                                <div class="action-block">
                                    <button class="btn btn-primary" type="button" @onclick="@(() => item.StartEdit())">Edit</button>
                                    <button class="btn btn-primary ms-2" type="button" @onclick="@(async () => await Delete(item))">Delete</button>
                                </div>
                            </td>
                        </tr>
                    }

                }
            </tbody>
        </table>
    }
</div>