@page "/"

@using System.Net.Http.Json
@using Radzen.Blazor
@using Shopping.Models.Results


@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@inject AppSettigns Settigns

@if (_statistic == null)
{
    <p>Loading ...</p>
}
else
{
    <ul class="nav nav-pills">
        @for (var i = 1; i <= 12; i++)
        {
            <li class="nav-item">
                @if (month is null && DateTime.Now.Month == i)
                {
                    <a class="nav-link active" aria-current="page" href="/">@i</a>
                }
                else if (month == i)
                {
                    <a class="nav-link active" aria-current="page" href="?month=@i">@i</a>
                }
                else
                {
                    <a class="nav-link" href="?month=@i">@i</a>
                }
            </li>
        }
    </ul>
    <div class="row">
        <div class="col-sm-12">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 my-5">
            <RadzenChart>
                <RadzenDonutSeries Fills="_collors" Data="@_statistic" CategoryProperty="Key" ValueProperty="Value">
                    <TitleTemplate>
                        <div class="rz-donut-content">
                            @_total.ToString("C");
                        </div>
                    </TitleTemplate>
                </RadzenDonutSeries>
            </RadzenChart>
        </div>
    </div>
}

@code {
    [Parameter]
    [SupplyParameterFromQuery]
    public int? month { get; set; }

    private int statisticMonth;
    private KeyValuePair<string, decimal>[]? _statistic;
    private IEnumerable<string> _collors;
    private decimal _total;

    protected override async Task OnParametersSetAsync()
    {
        if (month.HasValue && month != statisticMonth)
        {
            statisticMonth = month.Value;
        }
        else if (statisticMonth == 0)
        {
            statisticMonth = DateTime.Now.Month;
        }
        else
        {
            return;
        }
        await LoadAsync().ConfigureAwait(false);
        await base.OnParametersSetAsync();
    }

    private async Task LoadAsync()
    {
        var statistic = await HttpClient.GetFromJsonAsync<PurchaseStatistic>(Settigns.ApiUrl + $"/purchases/statistic?month={statisticMonth}");
        if (statistic != null)
        {
            _statistic = statistic.Statistics.OrderByDescending(e => e.Value).ToArray();
            _collors = GetCollors(_statistic.Length);
            _total = statistic.Total;
        }
    }

    private IEnumerable<string> GetCollors(int count)
    {
        return Enumerable.Range(1, count).Select(i =>
        {
            var random = new Random(i);
            return $"rgb({random.Next(128) + 127},{random.Next(128) + 127},{random.Next(128) + 127})";
        }).ToArray();
    }
}