@page "/receipts/{ReceiptId}"

@using System.Net.Http.Json
@using Radzen
@using Radzen.Blazor
@using Shopping.Models.Results
@using Shopping.Requests


@inject HttpClient HttpClient
@inject AppSettigns Settigns

<div class="row">
    @if (_list == null)
    {
        <p>Loading ...</p>
    }
    else
    {
            <table class="table ">
            <thead>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Price</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Cost</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><RadzenAutoComplete Data=@_products FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" TextProperty="Name" @bind-Value=@_newItem.ProductName Style="width: 100%;" /></td>
                    <td><RadzenNumeric ShowUpDown="false" TValue="decimal" @bind-Value=@_newItem.Price  Class="w-100" /></td>
                    <td><RadzenNumeric ShowUpDown="false" TValue="decimal" @bind-Value=@_newItem.Amount Class="w-100" /></td>
                    <td>@_newItem.Cost</td>
                    @if (_editedItem != null)
                    {
                        <td></td>
                    }
                    else
                    {
                        <td><div class="action-block"><button class="btn btn-primary" type="button" @onclick="@(async () => await Add())">Add</button></div></td>
                    }
                </tr>
                @foreach (var item in _list)
                {
                    @if (_editedItem?.Id == item.Id)
                    {
                        <tr>
                            <td><RadzenAutoComplete Data=@_products FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" TextProperty="Name" @bind-Value=@_editedItem.ProductName Style="width: 100%;" /></td>
                            <td><RadzenNumeric ShowUpDown="false" TValue="decimal" @bind-Value=@_editedItem.Price  Class="w-100" /></td>
                            <td><RadzenNumeric ShowUpDown="false" TValue="decimal" @bind-Value=@_editedItem.Amount Class="w-100" /></td>
                            <td>@_editedItem.Cost</td>
                            <td>
                                 <div class="action-block">
                                    <button class="btn btn-primary" type="button" @onclick="@(async () => await Save())">Save</button>
                                    <button class="btn btn-primary ms-2" type="button" @onclick="@(async () => Cancel())">Cancel</button>
                                 </div>
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td>@item.ProductName</td>
                            <td>@item.Price</td>
                            <td>@item.Amount</td>
                            <td>@item.Cost</td>
                            @if (_editedItem != null)
                            {
                                <td></td>
                            }
                            else
                            {
                                <td>
                                    <div class="action-block">
                                        <button class="btn btn-primary" type="button" @onclick="@(() => StartEdit(item))">Edit</button>
                                        <button class="btn btn-primary ms-2" type="button" @onclick="@(async () => await Delete(item.Id))">Delete</button>
                                    </div>
                                </td>
                            }
                        </tr>
                    }
                    
                }
            </tbody>
            </table>
    }
</div>

@code{
    [Parameter]
    public string ReceiptId { get; set; }

    private ReceiptItemModel[]? _list;
    
    private IEnumerable<ProductModel> _products = Array.Empty<ProductModel>();
    private ReceiptItemModel _newItem = new ReceiptItemModel();
    private ReceiptItemModel _editedItem = null;

    protected override Task OnInitializedAsync()
    {
        return Reload();
    }

    void OnLoadData(LoadDataArgs args)
    {
        Console.WriteLine($"LoadData with filter: {args.Filter}");


        InvokeAsync(StateHasChanged);
    }

    private async Task Reload()
    {
        _list = null;
        _products = await HttpClient.GetFromJsonAsync<ProductModel[]>(Settigns.ApiUrl + "/products");
        _list = await HttpClient.GetFromJsonAsync<ReceiptItemModel[]>(Settigns.ApiUrl + $"/receipts/{ReceiptId}/items");
        if (_list == null)
        {
            return;
        }
    }

    private async Task Add()
    {
        var product = _products.FirstOrDefault(p => p.Name == _newItem.ProductName);
        var request = new AddReceiptItem
        {
            Id = Guid.NewGuid(),
            ProductName = product == null ? _newItem.ProductName : null,
            ProductId = product?.Id,
            Price = _newItem.Price,
            Amount = _newItem.Amount,
        };

        await HttpClient.PostAsJsonAsync(Settigns.ApiUrl + $"/receipts/{ReceiptId}/items", request);

        _newItem = new ReceiptItemModel();

        await Reload().ConfigureAwait(false);
    }

    private void StartEdit(ReceiptItemModel product)
    {
        _editedItem = product;
    }

    private void Cancel()
    {
        _editedItem = null;
    }

    private async Task Save()
    {
        var product = _products.FirstOrDefault(p => p.Name == _editedItem.ProductName);
        var request = new UpdateReceiptItem
        {
            Id = _editedItem.Id,
            Amount = _editedItem.Amount,
            Price = _editedItem.Price,
            ProductName = product == null ? _editedItem.ProductName : null,
            ProductId = product?.Id,
        };
        await HttpClient.PutAsJsonAsync(Settigns.ApiUrl + $"/receipts/{ReceiptId}/items/{_editedItem.Id}", request );
        _editedItem = null;
        await Reload().ConfigureAwait(false);
    }

    private async Task Delete(Guid id)
    {
        await HttpClient.DeleteAsync(Settigns.ApiUrl + $"/receipts/{ReceiptId}/items/{id}");
        await Reload().ConfigureAwait(false);
    }


}